<div id="<%= dom_id purchase %>" class="flex justify-between border-2 my-2">
  <div class="content">
    <p>
      <%= purchase.name %>
    </p>
    <p><%=purchase.created_at.strftime("%e %b %y")%></p>
  </div>

  <p><%= number_to_currency(purchase.amount)%></p>

</div>
